.form-box {
    padding: 40px;
    background: #fff;
    border-radius: 7px;
    margin-top: 150px;
}

body {
    background-image: url(../img/banner-pens.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}